[submodule "hugo-theme-stack"]
	path = hugo-theme-stack
	url = git@github.com:Adamska1008/hugo-theme-stack.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = git@github.com:Adamska1008/hugo-theme-stack.git
